<footer class="page-footer" style="padding-top: 50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <h3>Smart Recommend</h3>
                <p>Website so sánh giá uy tín, chất lượng hàng đầu Việt Nam</p>
                <div class="sosmed-button mt-3">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-google"></i>
                    <i class="fab fa-twitter-square"></i>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h5>Về chúng tôi</h5>
                <ul class="footer-menu">
                    <li><a href="/team">Đội ngũ</a></li>
                    <li><a href="/policy">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Các danh mục phổ biến</h5>
                <ul class="footer-menu">
                    <li><a href="http://localhost:3000/products">Điện thoại, laptop</a></li>
                    <li><a href="http://localhost:3000/products">Phụ kiện, thiết bị số</a></li>
                    <li><a href="http://localhost:3000/products">Đồ chơi, mẹ và bé</a></li>
                    <li><a href="http://localhost:3000/products">Hàng tiêu dùng</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-md-6">
                <p id="copyright">Copyright &copy; SR 2020.</p>
            </div>
        </div>
    </div> <!-- .container -->
</footer> <!-- .page-footer -->