<div class="header-form">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                <a href="http://localhost:3000" class="logo">
                    <img src="/image/icon-header/logo.png" alt="">
                </a>
            </div>
            {{!-- <div class="col-1">
                
            </div> --}}
            <div class="col-7">
                <div class="form-search">
                    <form id="search_form" action="http://localhost:3000/products" method="get">
                        <div class="search-wrap">
                            <div class="input">
                                <div class="flex">
                                    <input type="text" name="q" id="keySearch" autocomplete="off"
                                        placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ...">
                                </div>
                            </div>
                            <button type="submit">
                                <i class="tikicon icon-search"></i>
                                <span>Tìm kiếm</span>
                            </button>
                        </div>
                    </form>
                    <div id="search-seller">
                        <div data-reactroot="" class="seller-search hidden"></div>
                    </div>
                </div>
            </div>
            {{#if isAuth}}
            <div class="col-2 d-flex justify-content-end align-self-start">
                <a href="/auth/logout" class="">
                    <img class="" src="/image/icon-header/dangNhapTaiKhoan-icon.png" alt="">
                        <b style="color: aliceblue;">{{authUser.username}}</b>
                </a>
            </div>
            {{else}}
            <div class="col-2 d-flex justify-content-end align-self-start">
                <a href="/auth">
                    <img class="" src="/image/icon-header/dangNhapTaiKhoan-icon.png" alt="">
                    <b style="color: aliceblue;">Đăng nhập/Đăng kí</b>
                </a>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<!-- end header-form -->