
        <!-- top promo -->
        <div class="top-promo">
           
        </div>
        <!-- end top promo -->

        <!-- header-form -->
        <div class="header-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="/" class="logo">
                            <img class="logo-vtcA" src="/image/icon-header/VTCA_White_Logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-2 toggle">
                        <a href="javascript:" class="main-nav-toggle">
                            <img src="/image/icon-header/danhMucSanPham-icon.png" alt="">
                            <span class="long">DANH MỤC SẢN PHẨM</span>
                        </a>
                    </div>
                    <div class="col-md-6 search">
                        <div class="form-search">
                            <form id="search_form" action="http://localhost:3000/products" method="get">
                                <div class="search-wrap">
                                    <div class="input">
                                        <div class="flex">
                                            <input type="text" name="q" id="keySearch" autocomplete="off"
                                                placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ...">
                                        </div>
                                    </div>
                                    <button type="submit">
                                        <i class="tikicon icon-search"></i>
                                        <span>Tìm kiếm</span>
                                    </button>
                                </div>
                            </form>
                            <div id="search-seller">
                                <div data-reactroot="" class="seller-search hidden"></div>
                            </div>
                        </div>
                    </div>
                    {{#if isAuth}}
                        <div class="col-md-1">
                            <div class="header-link">
                                <div class="user-profile item" id="header-user">
                                    <div data-reactroot="">
                                        <div>
                                        <a href="/auth/logout">
                                            <small style="color: aliceblue;">Xin chào</small></a>  
                                            <br>
                                            <b style="color: aliceblue;">{{authUser.username}}</b><br>
                                            <img class="icon-style-1 icon-user" src="/image/icon-header/dangNhapTaiKhoan-icon.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="col-md-1">
                            <div class="header-link">
                                <div class="user-profile item" id="header-user">
                                    <div data-reactroot="">
                                        <div>
                                        <a href="/auth"><img class="icon-style-1 icon-user" src="/image/icon-header/dangNhapTaiKhoan-icon.png"
                                                alt="">
                                            <b style="color: aliceblue;">Đăng nhập</b><br>
                                            <small style="color: aliceblue;">Tài khoản</small></a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="header-link">
                                <div class="user-profile item" id="header-user">
                                    <div data-reactroot="">
                                        <div>
                                        <a href="/auth"><img class="icon-style-1 icon-user" src="/image/icon-header/dangNhapTaiKhoan-icon.png"
                                                alt="">
                                            <b style="color: aliceblue;">Đăng kí</b><br>
                                            <small style="color: aliceblue;">Tài khoản</small></a>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>
               
            </div>
        </div>
        <!-- end header-form -->

        <!-- main-nav -->
        <div class="main-nav">
            <div class="container">
                <div class="row">
                    <div class="main-nav-wrap">
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- end main-nav -->