<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {{> head}}
    {{{_sections.css}}}
</head>
<body>
    <div class="page-wrapper">
        <!-- Header -->
        <header class="header">
            {{> header}}
        </header>
        
        <!-- Content -->
        <main class="main-body">
            {{{body}}}
        </main>

        <!-- Footer -->
        <footer class="footer">
            {{> footer}}
        </footer>
        {{{_sections.js}}}
    </div>
</body>