<div class="container">
    <div class="detail-item">

    </div>
    <div class="list-item">
        <div class="row">
            {{#each items}}
            <a class="col-md-3 col-sm-6 col-6 deal-item"
                href="https://tiki.vn/so-tay-tu-vung-120-trang-7-6-x-13-mau-ngau-nhien-p6836987.html?spid=6836989&amp;src=deal-hot&amp;2hi=1"
                target="_blank" data-id="6836987" data-title="Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên"
                data-brand="" data-price="10000" data-impresslistname="Deal Hot" data-impressposition="1">
                <div class="image">
                    <div class="discount-badge">
                        47%
                    </div>
                    <img class="lazy" style="display: inline;" src="/image/img-product/so-tay-tu-vung.jpg">
                </div>
                <div class="title">
                    <img class="icon-tikinow1" src="/image/img-product/so-tay-tu-vung.jpg" alt="">
                    {{name}}
                </div>
                <div class="price-sale">
                    {{price}} ₫
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
