<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="slide" class="carousel slide myslide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner carinner" role="listbox">
                    <div class="carousel-item active caritem">
                        <img src="/image/slideshow/lazada-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/tiki-slide.jpg" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/shopee-slide.png" alt="">
                    </div>
                    <div class="carousel-item caritem">
                        <img src="/image/slideshow/sendo-slide.png" alt="">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-between right">
            <div>
                <img src="/image/news/right1.png" alt="">
            </div>
            <hr>
            <div>
                <img src="/image/news/right2.png" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row icon">
                <div class="col-2">
                    <div>
                        <a href="/products?cate=1">
                            <i class="fas fa-mobile-alt"></i>
                        </a>
                    </div>
                    <p>Điện thoại, laptop</p>
                </div>
                <div class="col-2">
                    <div>
                        <a href="/products?cate=2">
                            <i class="fas fa-keyboard"></i>
                        </a>
                    </div>
                    <p>Phụ kiên, thiết bị số</p>
                </div>
                <div class="col-2">
                    <div>
                        <a href="/products?cate=3">
                            <i class="fas fa-baby-carriage"></i>
                        </a>
                    </div>
                    <p>Đồ chơi, mẹ và bé</p>
                </div>
                <div class="col-2">
                    <div>
                        <a href="/products?cate=4">
                            <i class="fas fa-store"></i>
                        </a>
                    </div>
                    <p>Hàng tiêu dùng</p>
                </div>
            </div>
        </div>
    </div>
<hr>
    {{#if isAuth}}
        <div style="margin-top: 20px;">
            <h5>SẢN PHẨM GỢI Ý</h5>
            <div class="row" style="justify-content: center;">
                <div class="col">
                    <a href="#">
                        <img width="100%" src="https://salt.tikicdn.com/cache/280x280/ts/product/25/75/be/546fff9b85ff7918ac44ae0caa153262.jpg">
                    </a>
                    <div style="margin-top: 10px;">
                        <span>Sổ Tay Slim Notebook - Ruột Sổ Chấm Bi</span>
                        <p><strong>200.000 đ</strong></p>
                    </div>
                </div>
                <div class="col">
                    <img width="100%" src="https://salt.tikicdn.com/cache/280x280/ts/product/fb/56/48/04c243e04fbd59886daa945612e21a62.jpg">
                    <div style="margin-top: 10px;">
                        <span>Sổ Tay Slim Notebook - Ruột Sổ Chấm Bi</span>
                        <p><strong>200.000 đ</strong></p>
                    </div>
                </div>
                <div class="col">
                    <img width="100%" src="https://salt.tikicdn.com/cache/280x280/ts/product/1d/a2/3e/f059becd8b4c4b38756ab7c77fcd5849.jpg">
                    <div style="margin-top: 10px;">
                        <span>Sổ Tay Slim Notebook - Ruột Sổ Chấm Bi</span>
                        <p><strong>200.000 đ</strong></p>
                    </div>
                </div>
                <div class="col">
                    <img width="100%" src="https://salt.tikicdn.com/cache/280x280/ts/product/ff/ba/d0/95b6860d9f638a877910724243b110a0.jpg">
                    <div style="margin-top: 10px;">
                        <span>Sổ Tay Slim Notebook - Ruột Sổ Chấm Bi</span>
                        <p><strong>200.000 đ</strong></p>
                    </div>
                </div>
                <div class="col">
                    <img width="100%" src="https://salt.tikicdn.com/cache/280x280/ts/product/45/58/e7/3d5bb1320e18f831481c333527623960.jpg">
                    <div style="margin-top: 10px;">
                        <span>Sổ Tay Slim Notebook - Ruột Sổ Chấm Bi</span>
                        <p><strong>200.000 đ</strong></p>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>


<hr>