<!-- tiki Deal Header -->
        <div class="container">
            <div class="tiki-deal-header">
                <img class="icon-hot-deal" src="/image/icon-body/sprite.png" alt="">
                <div class="title">Tiki Deal</div>
                <div class="text">
                    Cập nhật hàng giờ tất cả những deal giảm giá đặc biệt trên Tiki,Lazada,Sendo,Shopee. Hãy bookmark trang này và quay lại
                    thường xuyên để không bỏ lỡ bạn nhé!
                    <div class="fb-btn">
                        <img src="/image/icon-body/download.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- end tiki Deal Header -->
        <div class="container">
            <div class="flex-container">
                <!-- side-bar -->
                <!-- side-bar -->
                <div class="side-bar">
                    <div class="head">
                        <h5>Bộ lọc tìm kiếm</h5>
                    </div>
                    <ul class="filter-category">

                            <h6>Nơi bán</h6>

                        <li><label class="checkbox"><input type="checkbox">Sài gòn
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Hà Nội
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Đà nẵng
                            </label></li>
                        <br>
                            <h6>Trang web</h6>
                        <li><label class="checkbox"><input type="checkbox">Laptop &amp; Shopee
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Tiki
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Lazada
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Sendo
                            </label></li>
                            <br>
                            <h6>Khuyến mãi</h6>
                        <li><label class="checkbox"><input type="checkbox">Free ship
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Giảm giá trực tiếp
                            </label></li>
                        <li><label class="checkbox"><input type="checkbox">Sản phẩm tặng kèm
                            </label></li>
                       
                    </ul>
                </div>
                <!-- end side-bar -->

                <div class="product-listing">
                    <div class="items">
                        <div class="row">
                            {{#each items}}
                                <a class="col-md-3 col-sm-6 col-6 deal-item"
                                
                                    href="https://tiki.vn/so-tay-tu-vung-120-trang-7-6-x-13-mau-ngau-nhien-p6836987.html?spid=6836989&amp;src=deal-hot&amp;2hi=1"
                                    target="_blank" data-id="6836987"
                                    data-title="Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên" data-brand=""
                                    data-price="10000" data-impresslistname="Deal Hot" data-impressposition="1">
                                    <div class="image">
                                        <div class="discount-badge">
                                            47%
                                        </div>
                                        <img class="lazy" style="display: inline;"
                                            src="/image/img-product/so-tay-tu-vung.jpg">
                                    </div>
                                    <div class="title">
                                        <img class="icon-tikinow1" src="/image/icon-body/tikiNow-icon.png" alt="">
                                        {{name}}
                                    </div>
                                    <div class="price-sale">
                                        {{price}} ₫
                                        {{!-- <span class="price-regular">
                                            19.000 ₫
                                        </span> --}}
                                    </div>
                                    <!-- <div class="deal-status">
                                        <div class="process-bar"><span class="tikicon icon-hot_12"><img
                                                    src="image/icon-body/deal-status.png" alt=""></span>
                                        </div>
                                        <div class="started">
                                            <div class="deal-count-down"><span class="time">
                                                    21 ngày 11:17:16
                                                </span></div>
                                        </div> -->
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
        </div>