.deal-item .image img{
    height: 200px;
    max-width: 100%;
}
.deal-item .title img{
    height: 40px;
    width: 40px;
}
.nameProduct{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}