.side-bar .head i{
cursor: pointer;

}


.deal-item{
    margin-bottom: 20px;
    padding: 16px;
}
.deal-item .image img{
    height: 200px;
    max-width: 100%;
}
.icon-market{
    margin: 0 10px 0 0;
    height: 40px;
    width: 40px;
}
.nameProduct{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.button-promotion {
    border:2px solid #dedede;
    background-color: #FFFFFF; 
    color: #0D5CB6;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px;
    height: 100%;
    box-shadow: 2px 4px #dedede;
  }
.price-sale {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    padding: 0;
    text-align: left;
}
  
.price-regular {
    font-size: 11px;
    color: #a2a2a2;
    text-decoration: line-through;
    text-align: left;
    font-weight: 300;
    margin-left: 8px;
}
.promotion-div {
    overflow: hidden;
    position: relative;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-3 {
    display: inline-block;
    float: none;
  }
  
  /* Decorations */
  .col-sm-3-promotion { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; margin: 5px;}