
CREATE DATABASE [DNS]
GO
USE [DNS]
GO

CREATE TABLE [dbo].[History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[STT] [int] NULL,
	[IDUser] [int] NULL,
	[IDItem] [nvarchar](255) NULL,
	[HTime] [datetime] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[id] [int] NULL,
	[id_match] [int] NULL,
	[item_id] [float] NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NULL,
	[phanloai] [nvarchar](255) NULL,
	[thuonghieu] [nvarchar](255) NULL,
	[xuatxu] [nvarchar](255) NULL,
	[xuatxuthuonghieu] [nvarchar](255) NULL,
	[sku] [nvarchar](255) NULL,
	[mota] [nvarchar](255) NULL,
	[avg_rating] [float] NULL,
	[star1] [float] NULL,
	[star2] [float] NULL,
	[star3] [float] NULL,
	[star4] [float] NULL,
	[star5] [float] NULL,
	[analyst1] [nvarchar](255) NULL,
	[analyst3] [nvarchar](255) NULL,
	[analyst4] [nvarchar](255) NULL,
	[url_key] [nvarchar](255) NULL,
	[nguondulieu] [int] NULL,
	[ngaytao] [datetime] NULL,
	[ngaycapnhat] [datetime] NULL,
	[WR] [float] NULL
) ON [PRIMARY]
GO

GO
CREATE TABLE [dbo].[LuuPromotion](
	[id] [int] NULL,
	[iditem] [int] NULL,
	[idPromotion] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[ValueDes] [float] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL
) ON [PRIMARY]
GO

SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE MyUser(
	id int IDENTITY(1,1) NOT NULL,
	username varchar(100) NULL,
	password password varchar(255) NULL,
	phone varchar(30) NULL,
PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[NguonDuLieu](
	[Ma] [int] NOT NULL,
	[TenNguonDuLieu] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[Parent](
	[Idparent] [int] IDENTITY(1,1) NOT NULL,
	[NameParent] [nvarchar](255) NULL,
	[BuyTiKi] [char](1) NULL,
	[BuySendo] [char](1) NULL,
	[BuyLazada] [char](1) NULL,
	[BuyShopee] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Idparent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PhanLoai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdPromotion] [int] NULL,
	[NamePromotion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[User_Item](
	id_user [int] NOT NULL,
	id_item int not NULL,
	total_view int null default 0,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	id_user, id_item ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
alter table item alter column id int not null
ALTER TABLE item ADD CONSTRAINT PK_ITEMS PRIMARY KEY (id);
INSERT [dbo].[item] ([id], [id_match], [item_id], [name], [price], [phanloai], [thuonghieu], [xuatxu], [xuatxuthuonghieu], [sku], [mota], [avg_rating], [star1], [star2], [star3], [star4], [star5], [analyst1], [analyst3], [analyst4], [url_key], [nguondulieu], [ngaytao], [ngaycapnhat], [WR]) VALUES (519, 519, 17123344, N'Điện thoại tự thêm', 10000000, N'-1', N'null', N'null', N'null', N'2931_34124353', N'Thông tin bình thường', 0, 0, 0, 0, 0, 0, N'null', N'null', N'null', N'null', 1, CAST(N'2021-05-22T00:00:00.000' AS DateTime), CAST(N'2021-05-22T00:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[NguonDuLieu] ([Ma], [TenNguonDuLieu], [NgayTao], [NgayCapNhat]) VALUES (1, N'Lazada', CAST(N'2021-05-08T15:58:49.117' AS DateTime), NULL)
INSERT [dbo].[NguonDuLieu] ([Ma], [TenNguonDuLieu], [NgayTao], [NgayCapNhat]) VALUES (2, N'Tiki', CAST(N'2021-05-08T15:58:49.117' AS DateTime), NULL)
INSERT [dbo].[NguonDuLieu] ([Ma], [TenNguonDuLieu], [NgayTao], [NgayCapNhat]) VALUES (3, N'Sendo', CAST(N'2021-05-08T15:58:49.117' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_MyUser] FOREIGN KEY([IDUser])
REFERENCES [dbo].[MyUser] ([IDUser])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_MyUser]
GO
USE [master]
GO
